services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.example
    ports:
      - "3001:3000"

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env.example
    ports:
      - "3000:3000"
    depends_on:
      - backend
